
.card.category>.card-header{
    background-color: #9a031e !important;
    color: white;
    font-size: 1rem;
}

.card.category>.card-body{
    background-color: #fdfdfd !important;
}

.card.operator {
    margin-bottom: 10px;
}

.card.operator>.card-header{
    background-color: #343a40 !important;
    color: white;
}

.card.operator>.card-body{
    background-color: #ffffff !important;
}

.jumbotron {
    margin-bottom: 0 !important;
}